:root {
  --board-background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxmaWx0ZXIgaWQ9ImJvYXJkLWJhY2tncm91bmQtZmlsdGVyIj4KICAgIDxmZUZsb29kIGZsb29kLWNvbG9yPSIjNGNhZjUwIiByZXN1bHQ9ImJhY2tncm91bmQiIC8+CiAgICA8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iNSIgbnVtT2N0YXZlcz0iMTAiIHN0aXRjaFRpbGVzPSJzdGl0Y2giIHJlc3VsdD0ibm9pc2UiIC8+CiAgICA8ZmVCbGVuZCBpbj0iYmFja2dyb3VuZCIgaW4yPSJub2lzZSIgbW9kZT0ibXVsdGlwbHkiIC8+CiAgPC9maWx0ZXI+CiAgPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsdGVyPSJ1cmwoI2JvYXJkLWJhY2tncm91bmQtZmlsdGVyKSIgLz4KPC9zdmc+Cg==");
}

.board {
  position: absolute;
  inset: 0;

  display: grid;
  grid-template-rows: var(--card-height) auto;

  padding: 4em;
  padding-block-end: calc(
    env(safe-area-inset-bottom) + calc(2 * var(--hud-bottom)) +
      var(--hud-height)
  );
  gap: 4em;

  background-image: radial-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    var(--board-background);
}

.board > * {
  width: min(calc(var(--card-width) * 8), 100%);
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .board {
    padding-inline-start: env(safe-area-inset-left);
    padding-inline-end: env(safe-area-inset-right);
    padding-block-start: calc(env(safe-area-inset-top) + 1em);
    padding-block-end: calc(
      env(safe-area-inset-bottom) + var(--hud-height) + 1em
    );
    gap: 1em;
    --card-border-radius: 0.15em;
    --card-backface-padding: 0.25em;
  }

  .section {
    justify-content: center;
  }
}

@media screen and (max-height: 800px) {
  .board {
    padding: 1em;
    gap: 1em;
    padding-inline-start: env(safe-area-inset-left);
    padding-inline-end: calc(10vw + calc(1em + env(safe-area-inset-right)));
  }
}

.section {
  display: grid;
  grid-template-columns: repeat(var(--num-tableau-stacks), var(--card-width));
  justify-content: space-between;
}

.section.foundation {
  grid-row: 1;
}

.section.tableau {
  grid-row: 2;
}
