:root {
  --card-width: clamp(40px, 10vw, 150px);
  --card-height: calc(var(--card-width) * 1.5);

  --card-font-size: calc(var(--card-width) / 2);
  --card-border-radius: 0.25em;

  --card-fanout-gap-face-down: calc(var(--card-height) / 10);
  --card-fanout-gap-face-up: calc(var(--card-height) / 5);

  --card-color-black: #000000;
  --card-color-red: #f44336;
}

.card {
  position: absolute;
  transform: translate(var(--left), var(--top));
  transition: transform 0.2s ease;

  width: var(--card-width);
  height: var(--card-height);

  cursor: pointer;
  z-index: var(--z-index);
}

.card.dragged {
  pointer-events: none;
  -webkit-user-drag: none;

  transform: translate(
    calc(var(--left) + var(--drag-offset-x)),
    calc(var(--top) + var(--drag-offset-y))
  );
  transition: none;

  z-index: calc(var(--z-index) + 10000);
}

.card.face-down {
  cursor: pointer;
}

.card .face {
  border-radius: var(--card-border-radius);
  transition: transform 0.2s ease;
  transform-style: preserve-3d;

  position: absolute;
  inset: 0;

  background: lightgray;
  border: 1px solid black;
  border-radius: var(--card-border-radius);

  color: var(--card-color-black);
  font-weight: bold;
  cursor: grab;
}

.card.red .face {
  color: var(--card-color-red);
}

.card.face-down .face {
  transform: rotateY(180deg);
}

.card .back,
.card .front {
  position: absolute;
  inset: 0;

  background: inherit;
  border-radius: inherit;

  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
  background-color: lightgrey;
  z-index: -1;
}

.card .front {
  display: flex;
  flex-direction: row;
  padding: 0.25em;
  background: white;
}

.card .corner {
  font-size: calc(var(--card-font-size) / 4);
  text-align: center;
}

.card .corner.bottom-right {
  transform: rotate(180deg);
}

.card .center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--card-font-size);
}
