.game-overlay {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10000;

  color: white;
  font-weight: 900;

  mix-blend-mode: multiply;
  background-color: transparent;
  backdrop-filter: blur(10px) saturate(200%);
  text-shadow: 0 0 5px black, 0 0 1em black, 0 0 10em black;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.5s ease, background-color 0.5s ease;
}

.game-overlay .message {
  transform: scale(0.8) translateY(1em);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition-delay: 0.35s;

  font-size: clamp(16px, 15vw, 200px);
  white-space: nowrap;
  padding: env(safe-area-inset);
}

.game-overlay.visible {
  transform: scale(1);
  pointer-events: auto;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.game-overlay.visible .message {
  transform: scale(1) translateY(0);
  opacity: 1;
}
