:root {
  --hud-min-width: 30vw;
  --hud-border-radius: 0.5em;
  --hud-bottom: 5vh;
}

.hud {
  position: absolute;
  bottom: var(--hud-bottom);
  left: 50%;
  transform: translateX(-50%);
  min-width: var(--hud-min-width);
  padding: 1em;

  z-index: 10001;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
  border-radius: var(--hud-border-radius);
  backdrop-filter: blur(0.5em) saturate(180%) contrast(120%) brightness(120%);
  filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 0.5));
}

@media screen and (max-width: 600px) {
  .hud {
    width: 100vw;
    bottom: 0;
    border-radius: var(--hud-border-radius) var(--hud-border-radius) 0 0;
  }
}

.hud * {
  color: white;
}

.hud button {
  padding: 1em 1.5em;
  border: none;
  cursor: pointer;
  background: transparent;
  border-radius: var(--hud-border-radius);
  transition: background 0.2s, transform 0.2s;
}

.hud button .icon {
  font-size: 3em;
  font-weight: bold;
}

.hud button .caption {
  display: block;
  margin-top: 0.5em;
  font-size: 0.9em;
  text-transform: uppercase;
}

.hud button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.hud button:not(:disabled):is(:hover, :focus, :active) {
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
}

.hud .debug {
  margin-inline-start: auto;
  text-align: end;
}
