:root {
  --hud-min-width: 30vw;
  --hud-border-radius: 0.5em;
  --hud-bottom: 5vh;
}

.hud {
  position: absolute;
  bottom: var(--hud-bottom);
  left: 50%;
  transform: translateX(-50%);
  min-width: var(--hud-min-width);
  padding: 1em;

  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
  border-radius: var(--hud-border-radius);
  backdrop-filter: blur(0.5em) saturate(180%) contrast(120%) brightness(120%);
  filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 0.5));
}

@media screen and (max-width: 600px) {
  .hud {
    width: 100vw;
    bottom: 0;
    border-radius: var(--hud-border-radius) var(--hud-border-radius) 0 0;
  }
}

.hud button {
  padding: 0.5em;
  border: none;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
}

.hud button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
