:root {
  --hud-border-radius: 0.5em;
  --hud-bottom: 5vh;
}

.hud {
  position: absolute;
  bottom: var(--hud-bottom);
  left: 50%;
  transform: translateX(-50%);
  padding: 1em;

  z-index: 10001;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
  border-radius: var(--hud-border-radius);
  filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 0.5));
}

@media screen and (max-width: 600px) {
  .hud {
    width: 100vw;
    bottom: 0;
    border-radius: var(--hud-border-radius) var(--hud-border-radius) 0 0;
  }

  .hud :is(.separator, .debug) {
    display: none !important;
  }
}

@media screen and (max-height: 600px) {
  .hud {
    width: calc(10vw + env(safe-area-inset-right));
    inset: auto;
    height: 100vh;
    right: 0;
    bottom: auto;
    transform: none;
    flex-direction: column;
    padding-inline-end: env(safe-area-inset-right);
  }

  .hud :is(button .caption, .separator, .debug) {
    display: none !important;
  }
}

.hud * {
  color: white;
}

.hud button {
  margin: 0 0.5em;
  padding: 1em 1.5em;
  border: none;
  cursor: pointer;
  background: transparent;
  border-radius: var(--hud-border-radius);
  transition: background 0.2s, transform 0.2s;
}

.hud button .icon svg {
  fill: currentColor;
  width: 3em;
  height: 3em;
}

.hud button .caption {
  display: block;
  margin-top: 0.5em;
  font-size: 0.9em;
  text-transform: uppercase;
  opacity: 0.5;
}

.hud button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.hud button:not(:disabled):is(:hover, :focus, :active) {
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
}

.hud .separator {
  margin: 0 1em;
  width: 1px;
  height: 1.5em;
  background: rgba(255, 255, 255, 0.5);
}

.hud .debug {
  margin-inline: auto 1em;
  text-align: end;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hud .debug .stats div {
  font-size: 0.8em;
}
