:root {
  --board-background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxmaWx0ZXIgaWQ9ImJvYXJkLWJhY2tncm91bmQtZmlsdGVyIj4KICAgIDxmZUZsb29kIGZsb29kLWNvbG9yPSIjNGNhZjUwIiByZXN1bHQ9ImJhY2tncm91bmQiIC8+CiAgICA8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iNSIgbnVtT2N0YXZlcz0iMTAiIHN0aXRjaFRpbGVzPSJzdGl0Y2giIHJlc3VsdD0ibm9pc2UiIC8+CiAgICA8ZmVCbGVuZCBpbj0iYmFja2dyb3VuZCIgaW4yPSJub2lzZSIgbW9kZT0ibXVsdGlwbHkiIC8+CiAgPC9maWx0ZXI+CiAgPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsdGVyPSJ1cmwoI2JvYXJkLWJhY2tncm91bmQtZmlsdGVyKSIgLz4KPC9zdmc+Cg==");

  --card-width: clamp(70px, 10vw, 150px);
  --card-height: calc(var(--card-width) * 1.5);

  --card-font-size: calc(var(--card-width) / 2);
  --card-border-radius: 0.25em;

  --card-fanout-gap-face-down: calc(var(--card-height) / 10);
  --card-fanout-gap-face-up: calc(var(--card-height) / 5);

  --card-color-black: #000000;
  --card-color-red: #f44336;

  --color-stack-hover: #000000;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: var(--board-background) repeat;

  user-select: none;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  position: absolute;
  z-index: 1;
  padding: 0.5em;
  border: none;
  border-radius: 0.5em;
  background: #4caf50;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

.board {
  position: absolute;
  inset: 0;

  display: grid;
  grid-template-rows: var(--card-height) auto;

  padding: 4em;
  gap: 4em;
}

.section {
  display: grid;
  grid-template-columns: repeat(var(--num-tableau-stacks), var(--card-width));
  justify-content: space-between;
}

.section.foundation {
  grid-row: 1;
}

.section.tableau {
  grid-row: 2;
}

.stack {
  position: relative;
  width: var(--card-width);
  display: grid;
  filter: drop-shadow(0 0 0.5em #00000077);
  grid-auto-rows: calc(var(--card-height) / 500);
  transition: filter 0.2s ease-in-out;
  cursor: pointer;
  will-change: transform, filter;
}

.stack.tableau {
  grid-auto-rows: calc(var(--card-height) / 5);
  gap: 0.25rem;
}

.stack.drag-preview {
  filter: drop-shadow(0 0 0.5em #00000077);
  background: transparent;
}

.stack.drop-target {
  background: #00000011;
}

.stack:hover {
  filter: drop-shadow(0 0 0.5em #000000);
}

.stack:before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  width: var(--card-width);
  height: var(--card-height);
  background: #00000011;
  border-radius: var(--card-border-radius);
}

.card {
  position: relative;

  display: flex;

  width: var(--card-width);
  height: var(--card-height);
  padding: 0.25em;

  background: lightgray;
  border: 1px solid black;
  border-radius: var(--card-border-radius);

  color: var(--card-color-black);
  font-weight: bold;
  cursor: pointer;
}

.card * {
  visibility: hidden;
}

.card.hidden {
  opacity: 0;
}

.card.red {
  color: var(--card-color-red);
}

.card.face-up {
  background: white;
}

.card.face-up * {
  visibility: visible;
}

.card .corner {
  font-size: calc(var(--card-font-size) / 4);
  text-align: center;
}

.card .corner.bottom-right {
  transform: rotate(180deg);
}

.card .center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--card-font-size);
}
